
/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-top:50px;
    border-top-color: aliceblue;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    border-top:50px;
    border-top-color: aliceblue;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */
.japple{
    opacity: .02;
    transform:translate(0);
         position: absolute;

    top: 12%;
    left: 0%;
}


@keyframes moveInBoton2{
    0% {
        opacity: 0;
        transform:translateY(150px);
    }
    
  80%{
       opacity: 0.2;
         transform:translateY(20);
    }
    
    100% {
        opacity: 0.2;
    transform:translate(0);
    }
    
}
